

<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
<title>TRS APD</title>
    <link rel="stylesheet" href="Contact.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Let's get in touch</div>
        Locate Us : Looking for help? Fill the form and start a new advanture

 !
   
        </div>
        
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email Us (Response within 1-2 Business Days)</div>
       info@trsapd.com<BR>
secy@trsapd.com
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Request a Call Back </div>
        <p> Fill Details - Click Get a Call Back Request & Select your Time Slot We are Call your choosing time. It's our pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">

        </div>
 <div class="input-box">
          <input type="text" placeholder="Please Enter Your Phone Number">

       
        
        <div class="button">
         <a href="https://chatbot.page/HnZYjm"> <input type="button" value="Get a Call Back" >
        </div>
      </form>
    </div>
    </div>
  </div>

</body>
</html>


