<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="Information Collect.css">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <title>TRS APD</title>
          <link rel="icon" type="image/x-icon" href="https://www.trsapd.com/images/logo.png">
</head>
<body>
    <div class="container">
     <Center><img src="logo.png">  
    <Center><img src="inq - Copy.png">
  <marquee direction="scroll"><B>Note: <strong> Kindly Fill Original Address & Mobile No, We will contact you as soon as we can.. Thank you! </strong></marquee>

        <form action="#">
            <div class="form first">
                <div class="details personal">
                    <span class="title"> ---- Submit your details ----</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Full Name</label>
                            <input type="text" placeholder="Enter your name" required>
                        </div>

                        <div class="input-field">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="Enter birth date" required>
                        </div>

                        <div class="input-field">
                            <label>Email ID</label>
                            <input type="text" placeholder="Enter your email" required>
                        </div>

                        <div class="input-field">
                            <label>Mobile Number</label>
                            <input type="number" placeholder="Enter mobile number" required>
                        </div>

                        <div class="input-field">
                            <label>Gender</label>
                            <select required>
                                <option disabled selected>Select gender</option>
                                <option>Male</option>
                                <option>Female</option>
              
                            </select>
                        </div>

                        <div class="input-field">
                            <label> Designation</label>
                            <input type="text" placeholder="Designation" required>
                        </div>
                    </div>
                </div>


                <div class="details ID">
                    

                    <div class="fields">
                        

                   
                    </div>

                  
                        </div>
                        
                        <button class="sumbit">
                            <span class="btnText">Submit your details</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div> 
            </div>
        </form>
    </div>

    <script src="Information Collect.js"></script>
</body>
</html>