<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>TRS APD</title>
          <link rel="icon" type="image/x-icon" href="https://www.trsapd.com/images/logo.png">
    <link rel="stylesheet" href="/static/frontend/css/payment.css">
</head>

<body>
    <div class="container">
        <form action=""> <!--Location of Server-->
          <BR>
           <center><img src="/static/frontend/images/logo.png"> 
           <h1 class="main-heading">TRS PAYMENT PORTAL</h1>
           <marquee width="100%" behavior="RIGHT" bgcolor="skyblue">  
<B> Attention ! <strong> Kindly Put Vaild Email, We will Send Your Payment Reciept Copy Via Email..</strong> 

</a> </a> </a>
            </li>
</marquee>

            <hr>
            <p>* indicates a required field</p>
            <h2> <U>Student Payment </h2>
               <div>
                Student ID *: <input type="number" name="Unique ID:" id="Unique ID:" placeholder="Unique ID:" required>
            </div>
              <div>
                Date of Birth* <input type="date" name="email" id="email" placeholder="Date of birth" required>
            </div>
            <div>Name: *<input type="text" name="name" placeholder="Student Name" required></div>
           
               
            <div>
      
            </div>
          
             <div>
                Batch <select name="card_type" id="card_type" required>
                    <option value="">--Select a Batch Type</option> //when user first visits it will not be stored in server
                    <option value="visa">Batch  1</option>
                    <option value="rupay">Batch 2 </option>
                    <option value="mastercard">Batch 3</option>
                </select>
            <div>
                    Payment For <select name="card_type" id="card_type" required>
                    <option value="">--Select a Type</option> //when user first visits it will not be stored in server
                    <option value="visa">Batch  1</option>
                    <option value="rupay">Batch 2 </option>
                    <option value="mastercard">Batch 3</option>
                </select>
           
             
             <div>
                Outstanding Amount <input type="text" name="  Outstanding Amount:" id="  Outstanding Amount ID:" placeholder="Outstanding Amount">
             <div>Amount<input type="number" name="name" placeholder="Amount" required></div>

            <hr>
            <BR>
            
            <input type="submit" value="Pay Fees"><br>
        </form>



<head>
    
  
    <img align="right" src="/static/frontend/images/20220830_202729.jpg">
</body>
</html>
       
    </div>
</body>

</html>


  
  
</body>

</html><br>

