 <style>
.my-accordion .menu{
    background-color:#096ece;
    color:#ffffff;
    cursor:pointer;
    padding:12px;
    width:100%;
    text-align:left;
    border:none;
    outline:none;
    margin-top:20px;
    /* margin-left: 10px; */
    /* margin-right: 20px; */
    border-radius:8px;
    font-size:inherit
}
.my-accordion .panel{
    background-color:#FFFFFF;
    color:#000000;
    overflow:hidden
}
.my-accordion .open{
    display:block
}
.my-accordion .close{
    display:none
}
.my-accordion .active{
    background-color:#1b90bb;
    color:#fff
}
.my-accordion .arrow{
    float:right;
    display:block
}
.my-accordion .darrow{
    display:none
}
.my-accordion .active .darrow{
    display:block
}
.my-accordion .active .rarrow{
    display:none
}
.my-accordion .panel a{
    display:block;
    background:#4bab30;
    color:#FFFFFF;
    padding:5px;
    margin:5px;
    align-items: center;
    width:100%;
    text-decoration:none
}
</style>
<div class="my-accordion">
    <button class='menu'>Useful Links<span class='arrow rarrow'>+</span><span class='arrow darrow'>-</span>
    </button>
    <div class='panel close'><div>
        <a href="index-4.html">Notices</a>
        <a href="index-4.html">Medical/Paramed. Form Submission</a>
        <a href="index-4.html">Sports</a>
        <a href="index-4.html">New College Login</a></div>
    </div>
</div>
<script>
!function(){for(var l=document.querySelectorAll(".my-accordion .menu"),e=0;e<l.length;e++)l[e].addEventListener("click",n);function n(){for(var e=document.querySelectorAll(".my-accordion .panel"),n=0;n<e.length;n++)e[n].className="panel close";if(-1==this.className.indexOf("active")){for(n=0;n<l.length;n++)l[n].className="menu";this.className="menu active",this.nextElementSibling.className="panel open"}else for(n=0;n<l.length;n++)l[n].className="menu"}}();
</script>
